<div class="container-fluid h-100">
    <div class="container h-100 d-flex wrapper">
        <div class="heading">
            <h1>
                Deine Top Auswahl <br />
                An Angeboten
            </h1>
        </div>
        <div class="carousel-wrapper">
            <div id="carousel">

                <% for( let i = 0; i < produckts.length; i++ ) { %>
                    <% produckt = produckts[i] %>
                    <div class="tile tile-<%= i %> d-flex flex-column justify-content-between" data-active="<%= i === 1 ? 'true' : 'false'  %>" data-id="<%= produckt.id %>">
                        <div>
                            <div class="tile-top">
                                <div class="img-contaienr">
                                    <img src="/img/products/placeholder.svg" width="100%" alt="placeholder">
                                    <!-- <img src="<%= produckt.img_path %>"alt="<%= produckt.name %>"> -->
                                </div>
                                <div class="fav-button">
                                    <div><button onclick="window.location.href='/#';"><i class="fa-regular fa-heart"></i></button></div>
                                </div>
                            </div>
                            <div class="tile-content">
                                <h3><%= produckt.name %></h3>
                                <ul>
                                    <% for (const [name, spec] of Object.entries(produckt.specs)) { %>
                                        <li title="<%= name %>"><%= spec  %></li>
                                    <% } %>
                                </ul>
                            </div>
                        </div>
                        <div class="price">
                            <h2><%= produckt.price_netto %>€</h2>
                        </div>
                    </div>
                <% } %>
            </div>
        </div>
    </div>
</div>